#logo-text {
  font-family: "Indie flower";
  font-size: 24px;
  margin-top: -5px;
}

.glyphicon {
  font-size: 24px;
  margin-left: 9px;
  margin-top: -12px;
}
#body {
  background-color: #373f51;
  font-family: "Merriweather Sans", sans-serif;
}
.content-frame {
  padding-top: 100px;
}
.content-frame > * {
  box-shadow: 5px 5px 5px #1b1b1e;
}
.content-one {
  background-color: #d2d4c8;
  padding: 5% 10% 5% 10%;
}
.content-two {
  background-color: #e0e2db;
  padding: 5% 10% 5% 10%;
}
.navbar-right {
  padding-top: -40px;
}
.img-circle {
  width: 100%;
}
.col-lg-6 > img {
  max-width: 100%;
  height: auto;
  margin-top: 5%;
}

.contact {
  height: 500px;
}

#bio {
  padding-left:50px;
  padding-right:50px;
  padding-top:30px
}
